
@model ResumeView
@{
    var resumeHeader = Model.ResumeHeader;
    var resumeExperiences = Model.ResumeExperiences;
    var resumeSummary = Model.ResumeSummary;
}

<div class="card border-info">
  <div class="card-body">
    <div>
        <h4 class="card-title">@resumeHeader.FirstName @resumeHeader.LastName</h4>
        <h6 class="card-subtitle mb-2 text-muted"><i>@resumeHeader.Headline</i></h6>
        <p class="card-text">
            @resumeHeader.City, @resumeHeader.Zipcode, @resumeHeader.Country <br/>
            @resumeHeader.PhoneNum <br/>
            @resumeHeader.Email 
        </p>
        <a href="@resumeHeader.LinkedIn" class="card-link">LinkedIn</a> 
        <a href="@resumeHeader.GitHub" class="card-link">GitHub</a> <br/>
    </div>
    <hr class="hr" />
    <div class="mt-4">
        <h4>SUMMARY:</h4>
        <p class="card-text">
            @resumeSummary.Summary
        </p>
    </div>
    <hr class="hr" />
    <div class="mt-4">
        <h4>EXPERIENCES:</h4><br/>
        @foreach (var item in resumeExperiences)
        {
            <div>
                <h4 class="card-title">
                    <i class="bi bi-list-ul"></i> @item.JobTitle
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    <i>
                        @item.StartMonth @item.StartYear - @if(item.CurrentlyWorkHere)
                        {
                            <span>Currently work here.</span>
                        } 
                        else 
                        {
                            @item.EndMonth @item.EndYear
                        }
                    </i><br/>
                    <i>@item.Company, @item.City, @item.State, @item.Country</i>
                </h6>
                <p class="card-text">
                    @Html.Raw(item.Description)
                </p>
            </div>
            <hr class="hr hr-blurry" />
            
        }
    </div>
  </div>
</div>




