<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OcBuu</title>

    @* 
        I got the Slate theme from https://bootswatch.com/
        and replace code with the bootstrap.css below.
     *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @* sometime the footer won't stay at the bottom because the style.css not working
        when it happens, I will need to comment it out rerun the project then uncomment it again *@
    @* <link rel="stylesheet" href="~/OcbuuCore.styles.css" asp-append-version="true" /> *@

    @* this link is use for bootstrap icon frorm icons.getbootstrap.com *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

    @* this toastr make TempData _Notification partial view look pretty *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    
     @* for footer by GP *@
    <style>
        .back-button {
            text-decoration: none;
        }
        .main-nav a:hover{
            text-decoration: underline; /* Underline when hovering */
        }

        /* Custom styles */
        .footer-list {
            padding-left: 0; /* Remove default padding */
        }
        
        /* Override Bootstrap link color and underline */
        .footer-list li a {
            color: white !important; /* Set link color to white */
            text-decoration: none; /* Remove underline */
            transition: text-decoration 0.3s ease; /* Smooth transition */
        }
        /* Apply underline effect on hover */
        .footer-list li a:hover {
            text-decoration: underline; /* Underline when hovering */
        }
        /* Adjust margin between list items */
        .footer-list li {
            margin-bottom: 0px; /* Set margin between list items */
        }
        .csu-address p {
            margin: 0px !important; /* Set margin-bottom to reduce space between paragraphs */
            padding: 0px !important; /* Set padding-bottom to 0 */
        }
        .csuSocialIcon a {
            color: inherit; /* Use the color of its parent element */
            text-decoration: none; /* Remove underline */
        }
        .custom-hr {
            width: 100%;             /* Adjust the width as needed */
            border: none;           /* Removes the default border */
            height: 5px;            /* Sets the thickness of the HR */
            background-color: #5a0c0c; /* Change color as needed */
            margin: 0px auto;      /* Centers the HR and adds vertical spacing */
        }
    </style> 
    <style>
        .indented-paragraph {
            text-indent: 2em; /* Adjust the indentation size as needed */
        }
    </style>

    <style>
        .custom-bg {
            background-color: #092C74 !important;
        }
    </style>

    @* custom active for navigation *@
    <style>
        .custom-active {
            background-color: white;
            color: black !important; /* Ensures text is black */
            border-color: black;
        }

        .custom-active:hover {
            background-color: white;
            color: black !important; /* Ensures text is black on hover */
            border-color: black;
        }
    </style>
</head>
<body>
        @{
            string areaName = ViewContext.RouteData.Values["area"]?.ToString();
            string controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
            string actionName = ViewContext.RouteData.Values["action"]?.ToString();
            @* Console.WriteLine($"{controllerName}, {actionName}"); *@
        }
    <div class="container-fluid p-0" style="min-height:90vh;">
        <div class="container-fluid p-0 mt-0">
            <nav class="navbar navbar-expand-lg bg-dark btn-secondary custom-bg" data-bs-theme="dark">
            @* <nav class="navbar navbar-expand-lg bg-light btn-secondary" data-bs-theme="light"> *@
                <div class="container">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" asp-area="@areaName" asp-controller="Home" asp-action="Index" > 
                        <h1>OC_BUU</h1>
                    </a>
                    <!-- Toggler/collapsible Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#navbarSupportedItems" aria-controls="navbarSupportedItems" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="navbarSupportedItems">
                        @if (areaName == "Admin")
                        {
                            <div class="btn-group btn-group-toggle my-2 my-sm-2 ms-3" id="radioScope">
                                <a class="btn btn-outline-light text-white @(controllerName == "Home" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                                <a class="btn btn-outline-light text-white @(controllerName == "Resume" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="Resume" asp-action="Index">
                                    Resume
                                </a>
                                <a class="btn btn-outline-light text-white @(controllerName == "About" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="About" asp-action="Index">
                                    About
                                </a>                            
                                <a class="btn btn-outline-light text-white @(controllerName == "Admin" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="Admin" asp-action="Index">
                                    Admin
                                </a>
                                
                            </div>
                        }
                        else if (areaName == "Visitor")
                        {
                            <div class="btn-group btn-group-toggle my-2 my-sm-2 ms-3" id="radioScope">
                                <a class="btn btn-outline-light text-white @(controllerName == "Home" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                                <a class="btn btn-outline-light text-white @(controllerName == "Resume" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="Resume" asp-action="Index">
                                    Resume
                                </a>                            
                                <a class="btn btn-outline-light text-white @(controllerName == "About" ? "active custom-active" : "")" 
                                    asp-area="@areaName" asp-controller="About" asp-action="Index">
                                    About
                                </a>
                                <div class="btn-group">
                                    <a class="btn btn-outline-light text-white dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Resume" asp-action="Index">Edit Resume</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Login</a>
                                    </div>
                                </div>
                                
                            </div>
                        }
                        
                        @* justify-content-end *@
                    </div>
                    <div class="d-flex justify-content-end">
                        <partial name="_LoginPartial" />                                
                    </div>
                </div>
            </nav>
        </div>

        <main role="main" class="pb-0"></main>
            <div>
                @RenderBody()
            </div>
            @* GP added _Notification partial here, so it can be used by all the pages before they rendered *@
            <partial name="_Notification"/>
        </main>
        
    </div>
    <footer class="border-top footer bg-primary text-white custom-bg" style="min-height:10vh;">
        <div class="container text-center">
            2024 by OcBuu <i class="bi bi-balloon-heart-fill"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
